@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    font-family: Quicksand, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.2rem;
}

p{
    margin: 0;
}

ul.nav{
    height: 4rem;
    align-items: center;
    margin-right: 1rem;
}

li a{
    color: rgb(241, 134, 34);
}

header{
    background-image: url('../img/pizza-big.jpeg');
    background-position:center;
    background-repeat: no-repeat;
    background-size:cover;
    height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header p {
    text-align: center;
    color: white;
}

header p:nth-child(1){
    font-size: 3rem;
    font-family: Ubuntu;
}

.hide{
    display: none !important;
}


/*      loge in      */

#logInWindow{
    background-color: white;
    border-radius: 5px;
    height: 25rem;
    width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: calc((100vh - 25rem)/2);
    left: calc((100vw - 20rem)/2);

}

#overLay{
    background-color: rgba(00, 00, 00, 0.5);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
#logInWindow input, #logInWindow p,#logInButton{
    margin: 0 1rem;
}

#logInButton{
    margin-top: 1rem;
    background-color: rgb(241, 134, 34);
    outline: none;
    border: 0;
    height: 2rem;
    color: white;
}

#logeTitle{
    font-weight: 700;
    font-size: 1.5rem;
    text-align: center;
}


#pizzaList{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

.fullMenu{
    font-weight: 700;
    text-align: center;
    font-size: 1.5rem;
    margin-top: 2rem;
    border-bottom: solid 3px rgb(241, 134, 34);
}

#list{
    margin: 2rem 0;
}

.pizza{
    margin: 2rem;
    width: 50%;
    max-width: 25rem;
    min-width: 20rem;
    overflow: hidden;
    height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.13);
}

.pizza div{
    display: flex;
    justify-content: space-between;
    margin: 0 1rem;
}

.pizza div p:nth-child(1){
    font-weight: 700;
}

.pizza button{
    align-self: flex-end;
    margin: 0 1rem 1rem;
    background-color: rgb(241, 134, 34);
    border-radius: 5px;
    color: white;
    border: 0
}

.pizzaImg{
    width: 100%;
    height: 75%;
    object-fit: cover;
}

/************   Staff Pizza   ************/

#staffPage{
    display: grid;
    grid-template-columns: 1fr 4fr;
    width: 100vw;
    height: 100vh;
}

#staffNav{
    width: 100%;
    height: 100%;
    /* background-color: darkslategrey; */
    background-color: hsla(178, 35%, 24%, 1.0);
    color: white;
}

#staffNav .shop,#staffNav .people{
    margin: 2rem 0 2rem 0;
}



#staffNav .shop p,#staffNav .people p{
    padding: 0.65rem 2rem;
    margin: 0.35rem 0;
    border-left: 3px solid hsla(178, 35%, 20%, 0);
    transition: 0.3s all ease-out;
}

#staffNav .shop p:hover,#staffNav .people p:hover{
    background-color: hsla(178, 35%, 20%, 1.0);
    cursor: pointer;
    transition: 0.3s all ease-out;
}

.navTitle{
    font-weight: 700;
    font-size: 1.6rem;
    height: 4rem;
    display: flex;
    align-items: center;
    background-color: hsla(178, 35%, 28%, 1.0);
}

.navTitle p{
    margin-left: 2rem;
    margin-right: 2rem;
}

#staffNav img{
    width: 1.5rem;
    position: relative;
    bottom: 2px;
    margin-right: 0.25rem;
}

.highlight{
    border-left: 3px solid white !important;
    background-color: hsla(178, 35%, 20%, 1.0);
    transition: 0.5s all ease-out !important;
}

#staffContent{
    background-color: rgb(245, 245, 245);
}

.contentTitle{
    font-weight: 700;
    font-size: 1.6rem;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.contentList{
    margin: 2rem;
    background-color: white;
}

.contentTitle p{
    margin-left: 2rem;
}

.contentTitle a{
    color: hsla(178,65%, 40%, 1.0) !important;
    font-weight: 100;
    font-size: 1rem;
    margin-right: 2rem;
}

.contentTitle a:hover{
    color: hsla(178, 35%, 40%, 1.0) !important;
    cursor: pointer;
}

.staffLis{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3.5rem;
}

.staffLis:nth-child(even){
    background-color: hsla(178, 20%, 95%, 1.0);
}

.staffLis p{
    margin-left: 1.75rem;
}

.staffLis div{
    margin-right: 1.75rem;
    opacity: 0.7;
}

.staffLis div{
    width: 4rem;
    display: flex;
    justify-content: space-between;
}


/************ Pizza Edit Page ************/

.pizzaEdit,
.ingredientEdit,
.changePasswordPage{
    margin: 2rem;
    background-color: white;
}

.pizzaContainer,
.ingredientContainer,
.changePasswordCtn{
    margin: 1.75rem;
    display: grid;
    grid-column-gap: 1.75rem;
    grid-template-columns: 1fr 1fr 1fr !important;
    grid-template:
    "a b c"
    "d d e"
    "f f f"
    "g g g"
}

.pizzaNameCtn{
    grid-area: a;
}

.pizzaPriceCtn{
    grid-area: b;
}

.pizzaImageCtn{
    grid-area: c;
}

.pizzaSizeCtn{
    grid-area: d;
}

.pizzaGlutenCtn{
    grid-area: e;
}

.pizzaIngredientsCtn{
    grid-area: g;
}

.pizzaExtraCtn{
    grid-area: f;
}

.pizzaEdit p,
.ingredientEdit p{
    margin: 0.3rem 0;
    padding-top: 1rem;
    font-weight: 700;
}

.pizzaEdit p:last-child{
    padding-bottom: 1.5rem;
}

.pizzaNameCtn input,
.pizzaPriceCtn input,
.pizzaImageCtn input,
.ingredientNameCtn input,
.ingredientPriceCtn input,
.ingredientImageCtn input,
.ingredientQuantityCtn input
{
    width: 100%;
}

.form-radio,
.form-check {
    margin-right: 1.25rem;
}



/************ Ingredient Edit Page ************/
.ingredientContainer{
    grid-template:
    "a b c"
    "d e f"
}

.form-check input{
    height: 1.3rem;
}


/************ Change Password Page ************/

.changePasswordCtn{
    margin: 1.75rem;
    display: grid;
    grid-column-gap: 1.75rem;
    grid-template-columns: 1fr !important;
    grid-template:
    "a"
}
