@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    font-family: Quicksand, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.2rem;
}

p {
    margin: 0;
}

ul.nav {
    height: 4rem;
    align-items: center;
    margin-right: 1rem;
}

.nav-link {
    padding: 0.1rem;
    margin: 0 0.75rem;
    color: rgb(241, 134, 34);
    border-bottom: 2px solid rgba(241, 134, 34, 0);
    transition: all 0.25s ease-in;
}

.nav-link:hover {
    color: rgb(206, 108, 17);
    border-bottom: 2px solid rgba(241, 134, 34, 1);
    transition: all 0.25s ease-out;

}

header {
    background-image: url('../img/1.jpg');
    filter: brightness(70%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 4rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcomeText {
    position: fixed;
    z-index: 100;
    top: 4rem;
    left: 0;
    right: 0;
    bottom: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.welcomeText p {
    text-align: center;
    color: white;
}

.welcomeText p:nth-child(1) {
    font-size: 3rem;
    font-family: Ubuntu;
}

.changePasswordUser{
    position: fixed;
    z-index: 300;
    top: 4rem;
    bottom: 8rem;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.passwordHeaderUser{
    background-color: rgb(241, 134, 34);
    padding: 1rem 0;
}

.orangeBtn{
    background-color: rgb(241, 134, 34) !important;
}

.hide {
    display: none !important;
}

.show {
    display: inherit !important;
}


/*      loge in      */

.orangeInput:focus {
    outline: none;
    border: 1.5px solid rgb(221, 129, 43);
    transition: all 0.5s ease-out;
}

#logInWindow,
#signUpWindow {
    background-color: white;
    border-radius: 5px;
    height: 25rem;
    width: 24rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: fixed;
    top: calc((100vh - 32rem)/2);
    left: calc((100vw - 24rem)/2);
    padding: 0.75rem 1.75rem 1.75rem 1.75rem;
}

#signUpWindow {
    height: 38rem;
    top: calc((100vh - 43rem)/2);
}

#overLay {
    background-image: url('../img/pizza-big.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

#logInWindow input,
#logInWindow p,
#logInButton,
#signUpWindow input,
#signUpWindow p,
#signUpButton {
    width: 100%;
}

.userTypeSelect {
    width: 100%;
    height: 36px;
}

#signUpWindow p,
#logInWindow p {
    margin-top: 1rem
}

#logInWindow .logInPasswordL p {
    width: auto;
}

.logInPasswordL {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logInPasswordL .far {
    margin-top: 1rem;
    font-size: 1rem;
    opacity: 0.7;
    margin-left: 0.5rem;
}

.logInPasswordL .far:hover {
    cursor: pointer;
}

#logInWindow input,
#signUpWindow input {
    padding: 2px 5px;
}

#logInButton,
#signUpButton {
    margin-top: 1.75rem;
    background-color: rgb(241, 134, 34);
    outline: none;
    border: 0;
    height: 2rem;
    color: white;
}

#logeTitle,
#signUpTitle {
    font-weight: 700;
    font-size: 1.5rem;
    text-align: center;
}

#pizzaList {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

.fullMenu {
    font-weight: 700;
    text-align: center;
    font-size: 1.5rem;
    margin-top: 2rem;
    border-bottom: solid 3px rgb(241, 134, 34);
}

#list {
    margin: 2rem 0;
}

.pizza {
    margin: 2rem;
    width: 50%;
    max-width: 25rem;
    min-width: 20rem;
    overflow: hidden;
    height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.13);
}

.pizza div {
    display: flex;
    justify-content: space-between;
    margin: 0 1rem;
}

.pizza div p:nth-child(1) {
    font-weight: 700;
}

.pizza button {
    align-self: flex-end;
    margin: 0 1rem 1rem;
    background-color: rgb(241, 134, 34);
    border-radius: 5px;
    color: white;
    border: 0
}

.pizzaImg {
    width: 100%;
    height: 75%;
    object-fit: cover;
}

#singUpB,
#singInB {
    font-size: 0.8rem;
    color: rgb(241, 134, 34);
    text-decoration: underline;
    text-align: right;
    margin-top: 1rem;
}

#singUpB:hover,
#singInB:hover {
    cursor: pointer;
    color: rgb(252, 122, 0);
}

/************   Staff Pizza   ************/

.logoTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsla(178, 35%, 30%, 1.0);
    color: white;
    font-size: 1.8rem;
    height: 50px;
}

.fa-bars {
    position: absolute;
    left: 2.1rem;
    cursor: pointer;
}

#staffPage {
    display: grid;
    grid-template-columns: 1fr 4fr;
    width: 100vw;
    height: 100vh;
}

#staffNav {
    width: 100%;
    height: 100%;
    /* background-color: darkslategrey; */
    background-color: hsla(178, 35%, 24%, 1.0);
    color: white;
    position: fixed;
    width: 20vw;
    z-index: 1000;
}

#staffNav .shop,
#staffNav .people {
    margin: 2rem 0 2rem 0;
}

#staffContent{
    background-color: rgb(245, 245, 245);
}

#staffNav .shop p,
#staffNav .people p {
    padding: 0.65rem 2rem;
    margin: 0.35rem 0;
    border-left: 3px solid hsla(178, 35%, 20%, 0);
    transition: 0.3s all ease-out;
}

#staffNav .shop p:hover,
#staffNav .people p:hover {
    background-color: hsla(178, 35%, 20%, 1.0);
    cursor: pointer;
    transition: 0.3s all ease-out;
}

.navTitle {
    font-weight: 700;
    font-size: 1.6rem;
    height: 4rem;
    display: flex;
    align-items: center;
    background-color: hsla(178, 35%, 28%, 1.0);
}

.navTitle p {
    margin-left: 2rem;
    margin-right: 2rem;
}

#staffNav img {
    width: 1.5rem;
    position: relative;
    bottom: 2px;
    margin-right: 0.25rem;
}

.highlight {
    border-left: 3px solid white !important;
    background-color: hsla(178, 35%, 20%, 1.0);
    transition: 0.5s all ease-out !important;
}

.contentTitle {
    font-weight: 700;
    font-size: 1.6rem;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.contentList {
    margin: 2rem;
    background-color: white;
}

.contentTitle p {
    margin-left: 2rem;
}

.contentTitle a {
    color: hsla(178, 65%, 40%, 1.0) !important;
    font-weight: 100;
    font-size: 1rem;
    margin-right: 2rem;
}

.contentTitle a:hover {
    color: hsla(178, 35%, 40%, 1.0) !important;
    cursor: pointer;
}

#listTitle {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-weight: 700;
    height: 3.5rem;
    background-color: hsla(178, 35%, 30%, 1.0);
    color: white;
}

#listTitle p {
    margin: auto;
}

#listTitle p:nth-child(1) {
    margin-left: 1.75rem;
}


#listTitle p:last-child {
    margin-right: 1.75rem;
}

.staffLis {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 3.5rem;
}

.staffLis:nth-child(even) {
    background-color: hsla(178, 20%, 95%, 1.0);
}

.staffLis p {
    margin: auto;
}

.staffLis p:nth-child(1) {
    margin-left: 1.75rem;
}

.staffLis div {
    margin-right: 1.75rem;
    opacity: 0.7;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.staffLis div i:hover {
    opacity: 1;
    cursor: pointer;
}

.staffLis div i:nth-child(1) {
    margin-right: 1.5rem;
}


/************ Pizza Edit Page ************/

.pizzaEdit,
.ingredientEdit,
.changePasswordPage {
    margin: 2rem;
    background-color: white;
}

.pizzaContainer,
.ingredientContainer,
.changePasswordCtn {
    margin: 1.75rem;
    display: grid;
    grid-column-gap: 1.75rem;
    grid-template-columns: 1fr 1fr 1fr !important;
    grid-template:
        "a b c"
        "d d e"
        "f f f"
        "g g g"
        "h h h"
}

.pizzaNameCtn {
    grid-area: a;
}

.pizzaPriceCtn {
    grid-area: b;
}

.pizzaImageCtn {
    grid-area: c;
}

.pizzaSizeCtn {
    grid-area: d;
}

.pizzaGlutenCtn {
    grid-area: e;
}

.pizzaIngredientsCtn {
    grid-area: g;
}

.pizzaExtraCtn {
    grid-area: f;
}

.pizzaBtnCtn {
    grid-area: h;
}

.buttonCtn {
    margin: 2rem 0;
    display: flex;
    justify-content: space-between;
}

.cancelBtn {
    padding: 0.25rem 0.75rem;
    background-color: hsla(178, 0%, 96%, 1.0);
    border: none;
    color: hsla(178, 35%, 30%, 1.0);
    font-weight: 700;
    height: auto;
}

.cancelBtn:hover {
    background-color: hsla(178, 0%, 90%, 1.0);
}

.cancelBtn:active {
    background-color: hsla(178, 0%, 84%, 1.0);
    transition: all 0.1s linear;
}

.saveBtn {
    padding: 0.25rem 0.75rem;
    background-color: hsla(178, 35%, 30%, 1.0);
    border: none;
    color: white;
    font-weight: 700;
    height: auto;
}

.saveBtn:hover {
    background-color: hsla(178, 55%, 22%, 1.0);
}

.saveBtn:active {
    background-color: hsla(178, 60%, 18%, 1.0);
    transition: all 0.1s linear;
}

.pizzaEdit p,
.ingredientEdit p,
.changePasswordCtn p {
    margin: 0.3rem 0;
    padding-top: 1rem;
    font-weight: 700;
}

.pizzaEdit p:last-child {
    padding-bottom: 1.5rem;
}

.pizzaNameCtn input,
.pizzaPriceCtn input,
.pizzaImageCtn input,
.ingredientNameCtn input,
.ingredientPriceCtn input,
.ingredientImageCtn input,
.ingredientQuantityCtn input {
    width: 100%;
}

.form-radio,
.form-check {
    margin-right: 1.25rem;
}



/************ Ingredient Edit Page ************/
.ingredientContainer {
    grid-template:
        "a b c"
        "d e f"
        "g g g"
}

.ingredientBtnCtn {
    grid-area: g;
}

.form-check input {
    height: 1.3rem;
}


/************ Change Password Page ************/

.flexCtn {
    /* width: 100%; */
    background-color: rgb(245, 245, 245);
    display: flex;
    justify-content: center;
}

.passwordCardCtn {
    width: 100%;
    max-width: 420px;
    background-color: white;

}

.changePasswordCtn {
    /* margin: 1.75rem; */
    margin-top: 1rem !important;
    display: grid;
    grid-template-columns: 1fr !important;
    grid-template:
        "a"
}

.newPassword {
    margin: 0 !important;
}

.confirmPassword {
    margin-bottom: 0 !important;
}

.changePasswordCtn input {
    width: 100%;
    max-width: 360px;
}

.changePasswordCheckBox {
    width: 100%;
    max-width: 360px;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 0.25rem;
}

.changePasswordCheckBox input {
    /* margin: 0 !important; */
    /* padding: 0 !important; */
    width: 184px;
    height: 13px;
}

.changePasswordCheckBox label {
    font-size: 0.9rem;
}

.buttonCtnPassword {
    margin-top: 3rem;
    display: flex;
    justify-content: flex-start;
}

.submitPassword {
    border-radius: 3px;
    border: 0px;
    width: 120px;
    background-color: hsla(178, 35%, 30%, 1.0);
    color: white;
}

.submitPassword:active {
    background-color: hsla(178, 35%, 20%, 1.0);
}

/* .displayText{
    margin: 0 !important;
    padding: 0.2rem 0 0.2rem 0.5rem !important;
    width: 210px;
    border: 0.6px solid hsla(178, 0%, 70%, 1.0);
    color: hsla(178, 0%, 70%, 1.0);
    font-weight: 100 !important;
} */

.passwordHeader {
    background-color: hsla(178, 35%, 30%, 1.0);
    padding: 1rem 0;
}

.displayText {
    color: white;
    margin: 0 0 0 1.75rem !important;
    padding: 0.1rem !important;
    font-weight: 700 !important;
}

.originalPassword {
    margin-top: 0 !important;
    padding-top: 0 !important;
    font-weight: 700;
}

input,
.orangeInput {
    height: 36px;
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
    border: 1.5px solid hsla(178, 0%, 80%, 1.0);
    border-radius: 3px;
    transition: all 0.5s ease-out;
}

input:focus {
    outline: none;
    border: 1.5px solid hsla(178, 35%, 30%, 1.0);
    transition: all 0.5s ease-out;
}

button {
    height: 36px;
    border-radius: 3px;
    transition: all 0.5s ease-out;
}

button:focus {
    outline: none;
}

.orangeBtn:hover {
    background-color: rgb(219, 106, 0) !important;
    transition: all 0.5s ease-out;
}

.form-radio-input {
    height: auto;
}

.notification {
    position: fixed;
    top: 12vh;
    width: 20rem;
    left: calc((100vw - 20rem)/2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    padding: 0.55rem 2rem;
    background-color: rgb(207, 112, 24);
    border-radius: 6px;
    box-shadow: 1px 1px 20px hsla(178, 0%, 0%, 0.3);
    z-index: 100;
    color: white;
    transition: all 0.35s ease-out;
}

.notification p {
    text-align: center;
}

.notification p:nth-child(1) {
    font-weight: 700;
    margin-top: 0.25rem;
}

.notification p:nth-child(2) {
    font-size: 1rem;
    margin: 0.5rem 0
}

.notificationHide {
    top: -20vh;
    transform: scale(0.7);
    opacity: 0.6;
    transition: all 0.35s ease-in;
}

.closeBtn {
    position: absolute;
    top: 0.3rem;
    right: 0.5rem;
    font-size: 0.8rem;
    padding: 0.25rem 0.39rem;
    transition: all 0.25s ease-out;
}

.closeBtn:hover {
    transform: rotate(180deg);
    background-color: white;
    color: rgb(207, 112, 24);
    border-radius: 50px;
    transition: all 0.25s ease-out;
}

.loadingOverlay {
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 900;
    background-color: hsla(178, 0%, 0%, 0.4);
    transition: all 0.1s ease-out;
}

.loadingOverlayHide {
    opacity: 0;
    transition: all 0.1s ease-out;
    z-index: -100;
}

.loadingAnimation {
    position: fixed;
    left: calc((100vw - 4rem)/2);
    top: calc((100vw - 0.5rem)/2);
    background-color: hsla(178, 65%, 40%, 1.0);
    border-radius: 50px;
    padding: 0.25rem 2rem;
    z-index: 100;
    animation: loadingAnimationShow 4s ease-in-out infinite;
}

@keyframes loadingAnimationShow {
    0% {
        background-color: hsla(178, 65%, 40%, 1.0);
    }

    25% {
        transform: rotate(270deg);
        background-color: hsla(30, 65%, 45%, 1.0);
    }


    50% {
        transform: rotate(540deg);
        background-color: hsla(178, 65%, 40%, 1.0);
    }

    75% {
        transform: rotate(810deg);
        background-color: hsla(30, 65%, 45%, 1.0);
    }

    90% {
        transform: rotate(0deg);
        background-color: hsla(178, 65%, 40%, 1.0);
        /* padding: 2rem; */
    }
}




@media (max-width: 1280px) {

    #staffPage {
        grid-template-columns: 1.8fr 4fr;
    }

    #staffNav {
        width: calc(1.8/5.8 * 100vw);
    }
}

@media (max-width: 890px) {
    #empty {
        display: none;
    }

    .navTitle {
        display: none;
    }

    #staffNav {
        transform: translateX(-100%);
        transition: all 0.5s ease-out;
        min-width: 17rem;
    }

    #staffPage {
        grid-template-columns: 1fr;
        height: calc(100% - 50px);
    }

    .logoTitle {
        display: flex !important;
    }
}

@media (max-width: 660px) {
    .contentList {
        margin: 2rem 0 0 0;
        background-color: white;
    }

    .editForm {
        margin: 2rem 0 0 0;
    }

    .changePasswordPage {
        margin: 2rem 0 0 0;
    }

    .pizzaContainer,
    .ingredientContainer {
        margin: 1.75rem;
        display: flex;
        flex-direction: column;
    }



}